:root {
  --logo-url: url("/logo-light.svg");
}

html[data-darkreader-scheme="dark"] {
  --logo-url: url("/logo-dark.svg");
}

[class*="AppHeaderNavList"] li:first-child a::before {
  content: "";
  display: inline-block;
  width: 120px;
  height: 40px;
  margin-block: -20px;
  margin-left: -10px;
  margin-right: 30px;
  background-image: var(--logo-url);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
